* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: white;
    text-align: center;
    padding: 2rem;
    
}
.container {
    width: 100%;
    padding-bottom: 3rem;
    background-color: darkslateblue
}

.box {
    width: calc(100% / 10 - 5px);
    height: 80px;
    font-size: .8rem;
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
    
}

#squares {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 5px;
    
}
.FizzBuzz {
    background-color: lightcoral;
}
.Fizz {
    background-color: lightseagreen;
}
.Buzz {
    background-color: lightskyblue;
} 
.normNum {
    background-color: lightslategray;
}